name: test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: install zsh
        run: sudo apt-get install -y --no-install-recommends --no-install-suggests zsh
      - name: run tests
        run: zsh tests.sh
        working-directory: test
